/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #1a1a1a;
  --white: #fff;
  --blue: #dcfffb;
  --darkblue: #c1e7e3;
  --pink: #ffdcf4;
  --darkpink: #dabfde;
  --lilac: #c1bbdd;
}

/* GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas: "aniisa about" "contact contact";
  padding-top: 40px;
}

/* ABOUT ME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aniisa {
  grid-area: aniisa;
}
.aniisa img {
  width: 85%;
  height: auto;
}
h1 {
  font-size: 3vw;
}
p {
  font-size: 1.45vw;
}
.about {
  grid-area: about;
  text-align: left;
}
.about a {
  color: var(--darkpink);
  text-decoration: none;
}
.about a:hover {
  color: var(--pink);
}

/* CONTACT FORM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  grid-area: contact;
  background-image: linear-gradient(var(--darkpink), var(--pink));
  padding: 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  background-color: var(--darkpink);
  color: black;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--lilac);
}
.form-right { float: right;}


/* MQ- not perfect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 0 0;
    grid-template-areas: "aniisa" "about" "contact";
    padding-top: 0;
  }
  .aniisa {
    align-content: center;
  }
  .about {
    text-align: center;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
