/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --black: #000000;
    --white: #fff;
    --blue: #dcfffb;
    --darkblue: #c1e7e3;
    --pink: #ffdcf4;
    --darkpink: #dabfde;
    --lilac: #c1bbdd;
}

html, body, .wrapper {
    margin:0;
    padding:0;
    height:100%;
}

body {
    margin:0;
    font-family: monospace;
    background-color: var(--white);
}

.wrapper {
    display: table;
    width: 100%;
}

header, .footer, main {
    display: block;
}

header, .footer, main {
    display: table-row;
}

header, .footer{
    height: 1px;
}

* {
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid {
    padding: 1.5rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h1 a {
    transition: all 0.1s;
}

h1 a:hover {
    background: var(--lilac);
    color: var(--white);
    transition: color 0.3s;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
    text-align: center;
    margin-bottom: 2rem;
}

.filters * {
    display: inline-block;
}

.filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    font-size: 18px;
}

.filters label:hover {
    background: var(--lilac);
    color: var(--white);
    transition: color 0.3s;
}

/* POST SPECIFIC GRID RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#openspace {
    background: #dabfde url(../illustrations/openspace.png) no-repeat center;
    background-size: contain;
}
#openspace:hover{
    /*background: #dabfde;*/
}

#wkit {
    background: #dabfde url(../illustrations/wkit.png) no-repeat center;
    background-size: contain;
}
#wkit:hover{
    /*background: #dabfde;*/
}

#portfolio {
    background: #dabfde url(../illustrations/portfolio.png) no-repeat center;
    background-size: contain;
 }
#portfolio:hover{
    /*background: #dabfde;*/
}

#solarsystem {
    background: #dabfde url(../illustrations/solarsystem.png) no-repeat center;
    background-size: contain;
}
#solarsystem:hover{
    /*background: #dabfde;*/
}

#doodle {
    background: #dabfde url(../illustrations/doodle.png) no-repeat center;
    background-size: contain;
}
#doodle:hover{
    /*background: #dabfde;*/
}

#summercamp {
    background: #dabfde url(../illustrations/summercamp.png) no-repeat center;
    background-size: contain;
}
#summercamp:hover{
    /*background: #dabfde;*/
}

#mtd {
    background: #dabfde url(../illustrations/mtd.png) no-repeat center;
    background-size: contain;
}
#mtd:hover{
    /*background: #dabfde;*/
}

#meowt {
    background: #dabfde url(../illustrations/meowt.png) no-repeat center;
    background-size: contain;
}
#meowt:hover{
    /*background: #dabfde;*/
}

#mosaic {
    background: #dabfde url(../illustrations/mosaic.png) no-repeat center;
    background-size: cover;
}
#mosaic:hover{
    /*background: #dabfde;*/
}

#humanfreedom {
    background: #dabfde url(../illustrations/humanfreedom.png) no-repeat center;
    background-size: contain;
}
#humanfreedom:hover{
    /*background: #dabfde;*/
}

#connex {
    background: #dabfde url(../illustrations/connex.png) no-repeat center;
    background-size: contain;
}
#connex:hover{
    /*background: #dabfde;*/
}

#summermatch {
    background: #dabfde url(../illustrations/summermatch.png) no-repeat center;
    background-size: contain;
}
#summermatch:hover{
    /*background: #dabfde;*/
}

#touchhockey {
    background: #dabfde url(../illustrations/touchhockey.png) no-repeat center;
    background-size: contain;
}
#touchhockey:hover{
    /*background: #dabfde;*/
}

#prism {
    background: #dabfde url(../illustrations/prism.png) no-repeat center;
    background-size: contain;
}
#prism:hover{
    /*background: #dabfde;*/""
}

#nkpg {
    background: #dabfde url(../illustrations/nkpg.png) no-repeat center;
    background-size: contain;
}
#nkpg:hover{
    /*background: #dabfde;*/
}

#ska {
    background: #dabfde url(../illustrations/ska.png) no-repeat center;
    background-size: contain;
}
#ska:hover{
    /*background: #dabfde;*/
}

#cant {
    background: #dabfde url(../illustrations/3cant.png) no-repeat center;
    background-size: contain;
}
#cant:hover{
    /*background: #dabfde;*/
}

#mt {
    background: #dabfde url(../illustrations/mt.png) no-repeat center;
    background-size: contain;
}
#mt:hover{
    /*background: #dabfde;*/
}

/* GENERAL GRID RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.posts .post {
    background: #dabfde;
    width: auto;
    height: 40vh;
}

.posts li{
    position: relative;
    overflow: hidden;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}

.posts li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.posts li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);
}

.posts .caption{
    cursor: pointer;
    position: sticky;
    opacity: 0;
    top: 80%;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.posts img{
    margin: 0;
    padding: 0;
    float: left;
    z-index: 0;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.posts .blur{
    background-color: var(--lilac);
    width: 50vw;
    height: 110vh;
    z-index: 5;
    position: absolute;
}

.posts .caption-text h1{
    text-transform: uppercase;
    font-size: 16px;
}

.posts .caption-text p{
    font-size: 12px;
}

.posts .caption-text{
    z-index: 10;
    color: var(--white);
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    top: 30px;
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Extracurricular"]:checked ~ .filters [for="Extracurricular"],
[value="Job"]:checked ~ .filters [for="Job"],
[value="Project"]:checked ~ .filters [for="Project"] {
    background: var(--lilac);
    color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
    display: block;
}

[value="Extracurricular"]:checked ~ .posts .post:not([data-category~="Extracurricular"]),
[value="Job"]:checked ~ .posts .post:not([data-category~="Job"]),
[value="Project"]:checked ~ .posts .post:not([data-category~="Project"]) {
    display: none;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }

    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

* {box-sizing: border-box;}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
