/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #1a1a1a;
  --white: #fff;
  --blue: #dcfffb;
  --darkblue: #c1e7e3;
  --pink: #ffdcf4;
  --darkpink: #dabfde;
  --lilac: #c1bbdd;
  --transition-delay: 0.85s;
  --transition-delay-step: 0.3s;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.bg-black {
  background: var(--black);
}

.bg-white {
  background: var(--white);
}

.bg-blue {
  background: var(--blue);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  overflow: hidden;
  padding: 20px 10px;
}

.page-header .logo {
  font-size: 25px;
  font-weight: bold;
  z-index: 1;
  transition: color 0.3s;
}

.page-header .icon {
  display: none;
}

.page-header a {
  float: left;
  color: black;
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  border-bottom: 4px solid transparent;
}

.page-header a:hover {
  color: var(--darkpink);
  transition: var(--transition-delay-step);
}

.page-header a.active {
  border-bottom-color: var(--darkpink);
}

.header-right {
  float: right;
}
.header-right .icon {
  display: none;
}

.window-opened .page-header .logo {
  color: var(--black);
  transition: var(--transition-delay);
}

@media screen and (max-width: 700px) {
  .page-header a.active {
    border-bottom-color: transparent;
    background-color:  var(--darkpink);
  }
  .page-header a:not(.logo) {
    display: none;
    text-align: left;
  }
  .header-right a.icon {
    float: right;
    display: block;
  }
  .header-right {
    float: none;
  }
  .page-header.responsive {position: relative;}
  .header-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .page-header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* HEADING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

/* SKILLS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.skills-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear,opacity 0.3s linear;
  transform: translateX(100%);
}

.window-opened .skills-section {
  visibility: visible;
  opacity: 1;
  transform: none;
}

[data-slideIn="to-top"] {
  transform: translateY(100%);
}

[data-slideIn="to-bottom"] {
  transform: translateY(-100%);
}

[data-slideIn="to-right"] {
  transform: translateX(-100%);
}

.skills-close {
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

span {
  font-weight: bolder;
}

.chart-wrapper {
  width: calc(100% - 40px);
  max-width: 1200px;
}

.chart-levels li {
  padding: 12px;
  font-weight: bolder;
}

.chart-skills li {
  width: 5%;
  height: 0;
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  transition: height 0.65s cubic-bezier(0.51, 0.91, 0.24, 1.16);
}

.window-opened .chart-skills li:nth-child(1) {
  height: 80%;
  transition-delay: var(--transition-delay);
}

.window-opened .chart-skills li:nth-child(2) {
  height: 80%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step)
  );
}

.window-opened .chart-skills li:nth-child(3) {
  height: 80%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 2
  );
}

.window-opened .chart-skills li:nth-child(4) {
  height: 80%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 3
  );
}

.window-opened .chart-skills li:nth-child(5) {
  height: 75%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 4
  );
}

.window-opened .chart-skills li:nth-child(6) {
  height: 75%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 5
  );
}

.window-opened .chart-skills li:nth-child(7) {
  height: 70%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 6
  );
}

.window-opened .chart-skills li:nth-child(8) {
  height: 70%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 7
  );
}

.window-opened .chart-skills li:nth-child(9) {
  height: 60%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 8
  );
}

.window-opened .chart-skills li:nth-child(10) {
  height: 60%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 9
  );
}

.window-opened .chart-skills li:nth-child(11) {
  height: 60%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 10
  );
}

.chart-skills li::before {
  content: attr(data-height);
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--black);
}

.chart-skills span {
  bottom: 0;
  left: 0;
  transform: translateY(40px) rotate(45deg);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .chart-levels li {
    padding: 15px 10px 15px 0;
    font-size: 12px;
  }

  span {
    font-size: 10px;
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   overflow: hidden;
   background-color: var(--pink);
}
.footer a {
  float: left;
  color: black;
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}
.footer a.logo {
  font-size: 18px;
  font-weight: bold;
}
.footer a.social:hover {
  color: var(--darkpink);
  transition: var(--transition-delay-step);
}
.footer-right {
  float: right;
}
