/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --black: #000000;
    --white: #fff;
    --blue: #dcfffb;
    --darkblue: #c1e7e3;
    --pink: #ffdcf4;
    --darkpink: #dabfde;
    --lilac: #c1bbdd;
}

* {
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid {
    padding: 1.5rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h1 a {
    transition: all 0.1s;
}

h1 a:hover {
    background: var(--lilac);
    color: var(--white);
    transition: color 0.3s;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
    text-align: center;
    margin-bottom: 2rem;
}

.filters * {
    display: inline-block;
}

.filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    font-size: 18px;
}

.filters label:hover {
    background: var(--lilac);
    color: var(--white);
    transition: color 0.3s;
}


/* POSTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.posts .post {
    background: var(--darkpink);
    width: auto;
    height: 40vh;
}

.posts li{
    position: relative;
    overflow: hidden;
}

.posts li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.posts li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);
}

.posts .caption{
    cursor: pointer;
    position: sticky;
    opacity: 0;
    top: 85%;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.posts img{
    margin: 0;
    padding: 0;
    float: left;
    z-index: 0;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.posts .blur{
    background-color: var(--lilac);
    width: 100vw;
    height: 40vh;
    z-index: 5;
    position: absolute;
}

.posts .caption-text h1{
    text-transform: uppercase;
    font-size: 16px;
}

.posts .caption-text p{
    font-size: 12px;
}

.posts .caption-text{
    z-index: 10;
    color: var(--white);
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    top: 30px;
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Extracurricular"]:checked ~ .filters [for="Extracurricular"],
[value="Job"]:checked ~ .filters [for="Job"],
[value="Project"]:checked ~ .filters [for="Project"] {
    background: var(--lilac);
    color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
    display: block;
}

[value="Extracurricular"]:checked ~ .posts .post:not([data-category~="Extracurricular"]),
[value="Job"]:checked ~ .posts .post:not([data-category~="Job"]),
[value="Project"]:checked ~ .posts .post:not([data-category~="Project"]) {
    display: none;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }

    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

* {box-sizing: border-box;}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
